@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*Page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  margin: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Style font*/
.numberBig {
  font-size: 50px;
  font-weight: bold;
}

.numberSmall {
  font-size: 30px;
  font-weight: bold;
}

.followerStyle {
  text-transform: uppercase;
}

.colorGreen {
  color: green;
}

.colorRed {
  color: red;
}

/*Dark page*/
.dark-theme {
  background-color: rgb(29, 29, 29);
  color: white;
}

.dark-theme 
.bgHovered {
  background-color: rgb(28, 13, 65);
  color: white;
  border-radius: 10px;
  padding : 20px;
  margin: 10px;
  width: 30%;
  height: 300px;
}

.dark-theme 
.bgSetHovered {
  background-color: rgb(46, 29, 88);
  color: white;
  border-radius: 10px;
  padding : 20px;
  margin: 10px;
  width: 30%;
  height: 300px;
}

.dark-theme 
.smHovered {
  background-color: #503030;
  color: white;
  border-radius: 10px;
  padding : 20px;
  margin: 10px;
  width: 30%;
}

.dark-theme 
.smSetHovered {
  background-color: #684040;;
  color: white;
  border-radius: 10px;
  padding : 20px;
  margin: 10px;
  width: 30%;
}


/*Light page*/
.light-theme {
  background-color: white;
  color: black;
}

.light-theme 
.bgHovered {
  background-color: rgb(189, 170, 237);
  color: black;
  border-radius: 10px;
  padding : 20px;
  margin: 10px;
  width: 30%;
  height: 300px;
}

.light-theme 
.bgSetHovered {
  background-color: rgb(152, 135, 193);
  color: black;
  border-radius: 10px;
  padding : 20px;
  margin: 10px;
  width: 30%;
  height: 300px;
}

.light-theme 
.smHovered {
  background-color: #c4a6a6;
  color: black;
  border-radius: 10px;
  padding : 20px;
  margin: 10px;
  width: 30%;
}

.light-theme 
.smSetHovered {
  background-color: #c28888;;
  color: black;
  border-radius: 10px;
  padding : 20px;
  margin: 10px;
  width: 30%;
}

